In [21]:
import pandas as pd
import numpy as np

In [22]:
data=pd.read_csv(r'D:\imdb_sup.csv')

In [23]:
data.head()

                                              Review  Rating  Sentiment
0  Kurt Russell's chameleon-like performance, cou...      10          1
1  It was extremely low budget(it some scenes it ...       8          1
2  James Cagney is best known for his tough chara...       8          1
3  Following the brilliant "Goy么kiba" (aka. "Hanz...       8          1
4  One of the last classics of the French New Wav...      10          1

In [24]:
data=data.drop(columns=['Sentiment'])

In [25]:
data.head()

                                              Review  Rating
0  Kurt Russell's chameleon-like performance, cou...      10
1  It was extremely low budget(it some scenes it ...       8
2  James Cagney is best known for his tough chara...       8
3  Following the brilliant "Goy么kiba" (aka. "Hanz...       8
4  One of the last classics of the French New Wav...      10

In [26]:
filtered_rows = []

for index, row in data.iterrows():
    if row['Rating'] == 1:
        filtered_rows.append(row)
final_data = pd.DataFrame(filtered_rows)

In [27]:
final_data.head()

                                                  Review  Rating
12503  Non existent plot, tons of poorly directed / s...       1
12504  I saw this movie originally in the theater, wh...       1
12506  First off I must stress how rare it is that I ...       1
12507  James Gandolfini is a good actor so what ever ...       1
12511  I think that movie can`t be a Scott`s film. Th...       1

In [28]:
final_data.tail()

                                                  Review  Rating
49985  I had great expectations surrounding this movi...       1
49986  It is playing on SHOWTIME right now but is goi...       1
49987  I love the so-called "blaxploitation" films an...       1
49996  So, you've seen the Romero movies, yes? And yo...       1
49999  Set in 1945, Skenbart follows a failed Swedish...       1

In [29]:
len(final_data)

10122

In [30]:
final_data.to_csv(r'C:\Users\btamm\OneDrive\Balaji\Internship Movate\Data  Extraction\movie reviews 1 rating.csv', index = False)